/* colors */

$lightBlue: #00e0d0;
$blue: #09052f;
$overlay:  rgba(9, 5, 47, 0.8);
$headlineGray: rgba(65, 61, 75, 0.5);
$paragraphGray: #403d4b;

/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* content */

html {
    font-size: 16px;
    font-family: $mainFontFamily;
}

body {
    font-size: 16px;
    background-color: #ffffff;
    line-height:  1.375rem;
    letter-spacing: 0.50px;
}

ul,
ol {
    list-style-type: none;
}

h2,
h3,
h4,
h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-family: $headlinesFontFamily;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

h3 {
    font-family: $headlinesFontFamily;
    text-transform: uppercase;
}

h4 {
    font-family: $headlinesFontFamily;
    color: rgba(47,45,53,0.75);
}

h5 {
    text-transform: uppercase;
}

img {
    max-width: 100%;
    display: block;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.line {
    width: 50px;
    height: 1px;
    margin-top: 20px;
}

.button {
    width: 118px;
    height: 38px;
    font-family: $buttonFontFamily;
    color: $lightBlue;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $lightBlue;
    border-radius: 2px;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: normal;
}

// header.page-header .sticky {
//     z-index: 100000;
//     width: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: $blue;
// }

.color-bg {
    background-color: $blue;
}

.main-wrapper {
    margin: 0 auto;
    width: 960px;
}

.hidden {
    display: none;
}

/* scroll up button */

.scrollUp {
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 1000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background-color: $lightBlue;
    }
}


/* animation */

.slide-in {
    transition: transform .6s;
    opacity: 0;
}

.slide-in-left {
    transform:translateX(-30%) scale(0.95);
}

.slide-in-right {
    transform:translateX(30%) scale(0.95);
}

.active-element {
    opacity: 1;
    transform: translate(0%) scale(1);
}
