#about {
    padding-top: 20px;
    padding-bottom: 20px;
    img {
        display: block;
        margin: 0 auto;
    }
    h3 {
        font-size: 1.375rem;
        font-weight: 700;
        color: rgb(65, 61, 75);
        line-height: 22px;
        letter-spacing: 0.50px;
    }
    p {
        font-family: $mainFontFamily;
        font-size: 0.875rem;
        font-weight: 300;
        color: $paragraphGray;
        line-height: 1.375rem;
        letter-spacing: 0.50px;
        margin-bottom: 15px;
    }
    .button {
        display: block;
        font-weight: 300;
        font-size: 0.875rem;
        margin-bottom: 20px;
        &:hover {
            background-color: $lightBlue;
            color: #ffffff;
        }
    }
}

#video {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("") no-repeat;
    background-size: cover;
    background: -webkit-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: -moz-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: -o-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: linear-gradient(90deg, #09052f 0%, #311d5e 100%);
    p {
        // font-size: 1rem;
        font-size: 0.875rem;
        color: #ffffff;
        font-weight: 900;
        line-height: 22px;
        letter-spacing: 0.50px;
        margin-top: 20px;
        text-transform: uppercase;
    }
}

#expertise {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    h3 {
        font-size: 1.375rem;
        font-weight: 700;
        color: rgb(65, 61, 75);
        line-height: 22px;
        letter-spacing: 0.50px;
    }
    h4 {
        font-size: 0.875rem;
        font-weight: 400;
        color: rgb(47, 45, 53);
        line-height: 22px;
        letter-spacing: 0.50px;
    }
    span {
        display: inline-flex;
        background-color: rgba(65, 61, 75, 0.3);
    }
    img {
        padding: 20px 0;
    }
    h5 {
        font-family: $mainFontFamily;
        font-size: 0.875rem;
        font-weight: 700;
        color: rgb(65, 61, 75);
        line-height: 22px;
        letter-spacing: 0.50px;
    }
    p {
        font-family: $mainFontFamily;
        font-size: 0.875rem;
        font-weight: 300;
        color: rgb(51, 51, 51);
        line-height: 22px;
        letter-spacing: 0.50px;
    }
}

#team {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: -webkit-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: -moz-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: -o-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: linear-gradient(90deg, #09052f 0%, #311d5e 100%);
    text-align: center;
    h3 {
        font-size: 1.375rem;
        font-weight: 700;
        color: #ffffff;
        line-height: 22px;
        letter-spacing: 0.50px;
    }
    h4 {
        font-size: 0.875rem;
        font-weight: 400;
        color: #f9f9f9;
        line-height: 22px;
        letter-spacing: 0.50px;
    }
    span {
        display: inline-flex;
        background-color: rgba(255, 255, 255, 0.2);
    }
    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            background-color: #ffffff;
            height: 229px;
            width: 220px;
        }
        figcaption {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 10px;
            padding: 15px 15px 5px 15px;
            width: 218px;
            border: 1px solid  #e1e1e1;
            h5 {
                font-family: $mainFontFamily;
                font-size: 0.875rem;
                font-weight: 700;
                color: #ffffff;
                line-height: 22px;
                letter-spacing: 0.50px;
                margin: 0;
            }
            p {
                font-size: 0.8125rem;
                font-weight: 300;
                color: rgba(250, 250, 250, 0.7);
                line-height: 22px;
                letter-spacing: 0.50px;
            }
        }
    }
    .bottom-p-team {
        font-size: 0.875rem;
        font-weight: 300;
        color: #f3f3f3;
        line-height: 22px;
        letter-spacing: 0.50px;
        margin: 0;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .button {
        width: 140px;
        display: block;
        font-weight: 300;
        font-size: 0.875rem;
        margin: 0 auto;
        margin-bottom: 20px;
        &:hover {
            background-color: $lightBlue;
            color: #ffffff;
        }
    }
}

#work {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    h3 {
        font-size: 1.375rem;
        font-weight: 700;
        color: rgb(65, 61, 75);
        line-height: 22px;
        letter-spacing: 0.50px;
    }
    .link-work {
        color: #413d4b;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.50px;
        &:hover {
            color: $lightBlue;
        }
    }
}

#projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project {
        width: 267px;
        height: 200px;
        background-color: #b6b6b6;
        margin-bottom: 1px;
    }
}

#load {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    .button {
        display: block;
        font-weight: 300;
        font-size: 0.875rem;
        margin: 0 auto;
        margin-bottom: 20px;
        &:hover {
            background-color: $lightBlue;
            color: #ffffff;
        }
    }
}

#testimonials {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background: -webkit-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: -moz-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: -o-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: -ms-linear-gradient(0deg, #09052f 0%, #311d5e 100%);
    background: linear-gradient(90deg, #09052f 0%, #311d5e 100%);
    p {
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
        line-height: 26px;
        padding: 25px 0;
    }
    h5 {
        font-family: $mainFontFamily;
        font-size: 0.875rem;
        font-weight: 900;
        color: #ffffff;
        line-height: 22px;
        letter-spacing: 0.50px;
        margin: 0;
    }
    .bottom-p-testimonials {
        font-size:  0.8125rem;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.50px;
        padding: 0;
    }
}

#contact {
    padding-top: 20px;
    padding-bottom: 20px;
    h3 {
        font-size:  1.375rem;
        font-weight: 700;
        color: rgb(65, 61, 75);
        line-height: 22px;
        letter-spacing: 0.50px;
        margin-bottom: 20px;
    }
    input, textarea {
        width: 100%;
        font-size: 0.875rem;
        font-weight: 300;
        color: #333333;
        border: 1px solid #e5e5e5;
        padding: 20px;
        margin-bottom: 20px;
    }
    .submit {
        display: block;
        width: 118px;
        height: 38px;
        font-family: $buttonFontFamily;
        font-size: 0.875rem;
        color: $lightBlue;
        text-align: center;
        text-transform: uppercase;
        line-height: 22px;
        letter-spacing: 0.50px;
        border: 1px solid $lightBlue;
        border-radius: 2px;
        padding: 8px;
        &:hover {
            background-color: $lightBlue;
            color: #ffffff;
        }
    }
    img {
        width: 100%;
        display: inline-flex;
        padding: 15px;
    }
}
    input::placeholder {
        font-family: $mainFontFamily;
        color: rgba(65, 61, 75, 0.5);
    }
