#expertise {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    h3 {
        font-size: 1.375rem;
        font-weight: 700;
        color: rgb(65, 61, 75);
        margin-top: 50px;
    }
    h4 {
        font-size: 0.875rem;
        font-weight: 400;
        color: rgb(47, 45, 53);
    }
    span {
        display: inline-flex;
        background-color: rgba(65, 61, 75, 0.3);
        margin-bottom: 20px;
    }
    .expertise-item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        .icon-box {
            height: 50px;
        }
        h5 {
            font-family: $mainFontFamily;
            font-size: 0.875rem;
            font-weight: 700;
            color: rgb(65, 61, 75);
            margin-top: 30px;
        }
        p {
            font-family: $mainFontFamily;
            font-size: 0.875rem;
            font-weight: 300;
            color: rgb(51, 51, 51);
        }
    }
}

@media screen and (min-width: 800px) {
    .expertise-item {
        border-bottom: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }
    &:nth-of-type(3),
    &:nth-of-type(6) {
        border-right: none;
    }
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
        border-bottom: none;
    }
}
