.outer-bg-footer {
    background: url("../images/contact-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.page-footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: $overlay;
    .bottom-logo-img {
        margin-bottom: 15px;
    }
    p {
        font-size: 0.875rem;
        font-weight: 300;
        color: #ffffff;
        line-height: 26px;
        margin: 0;
    }
    h5 {
        font-family: $mainFontFamily;
        font-size: 0.9375rem;
        font-weight: 900;
        color: #ffffff;
        line-height: 26px;
        letter-spacing: 0.50px;
        margin: 0;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .adress {
        display: flex;
        justify-content:  flex-start;
        align-items: baseline;
        padding-bottom: 10px;
        img {
            margin-right: 10px;
        }
    }
    .number {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        padding-bottom: 10px;
        img {
            margin-right: 10px;
        }
    }
    .newsletter {
        display: flex;
        flex-wrap: wrap;
        input {
            background: transparent;
            border: 1px solid #e5e5e5;
            color: #ffffff;
            outline: none;
            padding: 8px;
            max-width: 190px;
            &::placeholder {
                font-family: $mainFontFamily;
                font-size: 0.875rem;
                color: #e5e5e5;
            }
        }
        .arrow-box {
            width: 70px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            &:hover {
                background-color: $lightBlue;
            }
            .arrow-newsletter {

            }
        }

    }
    .socials {
        display: flex;
        margin: 20px 0;
        .social-link {
            border: 1px solid #ffffff;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            &:hover {
                background-color: $lightBlue;
            }
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
    .bottom-menu {
        display: inline-flex;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.50px;
        text-transform: uppercase;
        li > a {
            color: #ffffff;
            margin-right: 20px;
            &:hover {
                color: $lightBlue;
            }
        }
    }
    .copyrights {
        width: 100%;
        padding-top: 40px;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        p {
            text-align: right;
        }
    }
}
