.page-header {
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.homepage {
        padding: 0;
        width: 100%;
        min-height: 80px;
        .navigation {
            display: none;
        }
        .logo-img {
            padding-top: 15px;
            padding-left: 15px;
        }
}

/*hamburger menu */

.nav-opened {
    .page-nav {
        .navigation {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            text-transform: uppercase;
            background-color: $blue;
            -webkit-box-shadow: 0px 6px 5px 1px rgba(0,0,0,0.55);
            -moz-box-shadow: 0px 6px 5px 1px rgba(0,0,0,0.55);
            box-shadow: 0px 6px 5px 1px rgba(0,0,0,0.55);
            li {
                width: 100%;
                border-bottom: 1px solid #cecece;
                padding: 15px;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.navigation > li > a {
    font-family: $mainFontFamily;
    font-weight: 900;
    color: #ffffff;
    text-align: right;
    margin-left: 0.625em;
    &:visited {
        color: #ffffff;
    }
    &:hover,
    &:focus,
    &:active {
        color: $lightBlue;
    }
}

.hamburger {
    width: 35px;
    height: 35px;
    border: 0;
    border-top: 3px solid #ffffff;
    background: transparent;
    position: absolute;
    top: 20px;
    right: 15px;
    transition: 0.2s transform linear;
}

.hamburger::before, .hamburger::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #ffffff;
    transform: translateY(10px);
}

.hamburger::after {
    transform: translateY(25px);
    transition: 0.2s transform linear;
}

.hamburger:focus {
    transform: rotate(45deg) translateY(5px);
    border: none;
}

.hamburger:focus::after {
    transform: rotate(-90deg) translateX(-10px);
}

/*slider*/

.outer-bg {
    background: url("../images/main-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.banner {
    width: 100%;
    height: 600px;
    background-color: $overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .main-slider {
        width: 100%;
        height: 400px;
        overflow: hidden;
        padding: 0;
        .slides {
            margin: 0;
            padding: 0;
            .slide {
                float: left;
                width: 370px;
                height: 400px;
                display: flex;
                justify-content: center;
                .show-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    padding: 10px;
                    max-width: 800px;
                    margin: 0 auto;
                }
            }
        }
    }
    .dots {
        padding-top: 15px;
    }
}

.show-slide h2 {
    font-family: $headlinesFontFamily;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.438rem;
    letter-spacing: 0.10px;
    line-height: 34px;
    margin: 0;
}

.show-slide span {
    display: inline-flex;
    background-color: $lightBlue;
    margin-bottom: 30px;
}

.show-slide p {
    font-size: 0.875rem;
    font-weight: 300;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.50px;
}

.show-slide .button {
    display: block;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 22px;
    margin: 40px auto;
    margin-bottom: 20px;
    &:hover {
        color: $lightBlue;
        background-color: #ffffff;
    }
}

.dots a {
    display: inline-flex;
    border-radius: 50%;
    border-width: 1px;
    border-color: #c2c2c2;
    border-style: solid;
    width: 10px;
    height: 10px;
    &:not(:last-of-type){
        margin-right: 5px;
    }
    &:hover {
        background-color: $lightBlue;
    }
    &.active-dot {
        background-color: $lightBlue;
    }
}

@media screen and (min-width: 768px) {
    .homepage {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        text-transform: uppercase;
        .navigation {
            display: flex;
            font-size: 0.8125rem;

        }
        .hamburger {
            display: none;
        }
    }
    .show-slide h2 {
     font-size: 2rem;
    }
}
