#work {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
        h3 {
            font-size: 1.375rem;
            font-weight: 700;
            color: rgb(65, 61, 75);
            margin-top: 50px;
        }
        .link-work {
            color: #413d4b;
            font-size: 0.875rem;
            font-weight: 300;
            &:hover {
                color: $lightBlue;
            }
            .link-arrow {
                font-size: 2rem;
                vertical-align: bottom;
            }
        }
}

#projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project figure img {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.project figure figcaption {
    backface-visibility: hidden;
}

.project figure figcaption,
.project figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project {
    width: 267px;
    height: 200px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    background-color: #b6b6b6;
    border: 1px solid #ffffff;
    .overlay-effect {
        background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
        height: 100%;
        img {
            opacity: 0.8;
            transition: opacity 0.35s, transform 0.35s;
            transform: scale(1.15);
        }
        figcaption {
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            p {
                opacity: 0;
                font-size: 1.313rem;
                font-weight: 300;
                color: #ffffff;
                border: 1px solid #ffffff;
                padding: 55px;
                transition: opacity 0.35s, transform 0.35s;
                transform: translate3d(-10px, 0, 0);
            }
        }
    }
}

.overlay-effect:hover img {
        opacity: 0.2;
        transform: scale(1);
}

.overlay-effect:hover figcaption p {
        opacity: 1;
        transform: translate3d(0,0,0);
}

#load {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    .button {
        display: block;
        font-weight: 300;
        font-size: 0.875rem;
        margin: 50px auto;
        &:hover {
            background-color: $lightBlue;
            color: #ffffff;
        }
    }
}

@media screen and (min-width: 768px) {
    #work {
        .work-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
                margin-bottom: 50px;
            }
            .link-work {
                margin: 50px 0;
            }
        }
    }
    #projects {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        align-content: flex-end;
        .project {
            // border: none;
        }
    }
}
