.outer-bg-testimonials {
    background: url("../images/testminonials-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
}
#testimonials {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $overlay;
    .testimonials-slider {
        overflow: hidden;
        color: #ffffff;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

#quote-carousel {
    position: relative;
    text-align: center;
    .carousel-indicators {
        display: inline-flex;
        flex-flow: row wrap;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 50%;
        top: auto;
        bottom: 0px;
        li {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            // overflow: hidden;
            border: none;
            transition: transform .6s;
            transform: scale(1);
            // .ellipse {
            //     background: url("../images/Ellipse_1.png") no-repeat;
            //     background-size: cover;
            // }
        }
        li:not(:last-of-type) {
            margin-right: 15px;
        }
        li:nth-of-type(1){
            background: url("../images/Ellipse_1.png") no-repeat;
            background-size: cover;
            background-position: center;
        }
        li:nth-of-type(2){
            background: url("../images/Ellipse_2.png") no-repeat;
            background-size: cover;
            background-position: center;
        }
        li:nth-of-type(3){
            background: url("../images/Ellipse_3.png") no-repeat;
            background-size: cover;
            background-position: center;
        }
        li:nth-of-type(4){
            background: url("../images/Ellipse_4.png") no-repeat;
            background-size: cover;
            background-position: center;
        }
        li:nth-of-type(5){
            background: url("../images/Ellipse_5.png") no-repeat;
            background-size: cover;
            background-position: center;
        }
        .active {
            transform: scale(1.4);
        }
    }
    .carousel-inner {
        max-width: 825px;
        margin: 0 auto;
        blockquote {
            border-left: none;
            .item-content {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                p {
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 26px;
                    padding: 40px 0;
                }
                .testimonial-author {
                    padding-bottom: 80px;
                    h5 {
                        font-family: $mainFontFamily;
                        font-size: 0.875rem;
                        font-weight: 900;
                        margin: 0;
                    }
                    .bottom-p-testimonials {
                        font-size:  0.8125rem;
                        font-weight: 300;
                        padding: 0;
                        padding-bottom: 40px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .carousel-control {
        position: absolute;
        top: 88%;
        bottom: 0;
        background: none;
        // filter: progid:none !important;
         font-size: 3.125rem;
    }
}

@media screen and (min-width: 512px) {
    #quote-carousel {
        .carousel-indicators li {
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (min-width: 768px) {
    #quote-carousel {
        //  .carousel-indicators li:not(:last-of-type) {
        //     margin-right: 15px;
        // }
        .carousel-inner {
            blockquote {
                .item-content {
                    p {
                        font-size: 1rem;
                    }
                    .testimonial-author {
                        padding-bottom: 10px;
                        .bottom-p-testimonials {
                            padding-bottom: 60px;
                        }
                    }
                }
            }
        }
        .carousel-control {
            top: 90%;
            width: 45%;
        }
    }
}

@media screen and (min-width: 1024px) {
    #testimonials {
        padding: 0;
    }
}
