.outer-bg-testimonials {
    background: url("../images/testminonials-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
}
#testimonials {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $overlay;
    .testimonials-slider {
        overflow: hidden;
        color: #ffffff;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

#quote-carousel {
    position: relative;
    text-align: center;
    .carousel-indicators {
        display: inline-flex;
        flex-flow: row wrap;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 50%;
        top: auto;
        bottom: 0px;
        li {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            .ellipse:not(:last-of-type) {
                margin-right: 10px;
            }
        }

    }
    .carousel-inner {
        blockquote {
            border-left: none;
            .item-content {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                p {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 26px;
                    padding: 40px 0;
                }
                h5 {
                    font-family: $mainFontFamily;
                    font-size: 0.875rem;
                    font-weight: 900;
                    margin: 0;
                }
                .bottom-p-testimonials {
                    font-size:  0.8125rem;
                    font-weight: 300;
                    padding: 0;
                    padding-bottom: 40px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .carousel-control {
        position: absolute;
        top: 80%;
        bottom: 0;
        text-shadow: none;

    }
}
